!!! 5
head
	title #{title}
body
	div.blog_title
		<a href='!{base_url}/'>!{title}</a>
	- each article in articles
		div.article
			div.header
				div.title
					<a href='!{base_url}/!{article.url}/'>!{article.title}</a>
				div.date
					-if (show_author)
						!{article.author} - 
					!{article.date_str}
			div.body !{article.body}

	// Please do not remove
	div.footer
		a(href='http://github.com/guyht/glog') Powered by Glog

	- if (typeof analytics_code !== 'undefined' && analytics_code !== null)
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '!{analytics_code}']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

